<html>
	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
	</head>
	<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Gophr</a>
			</div>
			<div class="collapse navbar-collapse">
				<p class="navbar-text navbar-right">
					{{if .CurrentUser}}
					<a href="/account" class="navbar-link">Account</a> |
					<a href="/sign-out" class="navbar-link">Sign Out</a>
					{{else}}
					<a href="/register" class="navbar-link">Register</a> |
					<a href="/login" class="navbar-link">Login</a>
					{{end}}
				</p>
			</div>
		</div>
	</nav>
	<div class="container">
		{{if .Flash}}
			<div class="alert alert-info">
				{{.Flash}}
			</div>
		{{end}}
		{{ yield }}
		</div>
	</body>
</html>
